<div class="absolute inset-0 min-w-0 overflow-hidden flex flex-col flex-auto bg-default px-6 md:px-8" *transloco="let t">

    <div class="relative flex flex-row flex-0 items-center justify-between py-8 h-16 my-4">

        <div class="flex gap-2 items-center">
            <a
                class="text-white"
                mat-icon-button
                [routerLink]="['../']"
            >
                <mat-icon
                    class="text-hint icon-size-8"
                    [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
            </a>

            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">{{(!!roleUtilisateur?.roleUtilisateurId ? t('Change-role') : t('new-role')) }} </div>
        </div>

        <mat-form-field [subscriptSizing]="'dynamic'" class="fuse-mat-dense min-w-64">
            <input
                matInput
                placeholder="Libelle"
                [(ngModel)]="roleUtilisateur.libelleRoleUtilisateur"
            />
        </mat-form-field>

    </div>

    <div class="relative flex flex-col flex-auto overflow-y-auto rounded-lg bg-card grow justify-between">

        @if(flatNavigation.length > 0){

            <!-- Header -->
            <div
                class="flex sticky top-0 z-10 gap-4 px-6 py-4 items-center text-md font-semibold text-hint bg-card border-b border-b-slate-300 dark:border-b-slate-700"
            >
                <div class="flex items-center justify-center grow-0 w-10">Nº</div>
                <div class="flex items-center justify-center grow-0 w-16">
                    @if(selectAllState(); as allState){
                        <mat-pseudo-checkbox
                            #selectAll
                            [class.bg-primary]="allState != 'unchecked'"
                            [state]="allState"
                            (click)="selectAllClicked(selectAll)"
                        >
                        </mat-pseudo-checkbox>
                    }

                </div>
                <div class="flex items-center grow">{{ t('Title') }}</div>
                @for( item of actions; track item.id || $index){
                    <div class="flex items-center justify-center grow-0 w-18">{{item.value}}</div>
                }
            </div>

            <!-- Rows -->
            @for( item of flatNavigation; track item.id || $index){

                <div class="flex flex-col w-full">

                    <div
                        class="flex items-center gap-4 px-6 py-4 hover:bg-slate-200 dark:hover:bg-slate-700 border-b dark:border-b-slate-700"
                    >
                        <div class="flex items-center justify-center grow-0 w-10">{{$index+1}}</div>
                        <div
                            class="flex items-center justify-center grow-0 w-16"
                        >
                            @if(selectRowState(item); as rowState){
                                <mat-pseudo-checkbox
                                    #rowSelect
                                    [class.bg-primary]="rowState != 'unchecked'"
                                    [appearance]="'full'"
                                    [state]="rowState"
                                    (click)="selectRow(item, rowSelect)"
                                >
                                </mat-pseudo-checkbox>
                            }

                        </div>

                        <div class="flex items-center grow">{{item.title}}</div>

                        @for( action of actions; track action.id || $index){
                            <div class="flex items-center justify-center grow-0 w-18">
                                @if(isActionExists(item, action.id)){
                                    @if (isActionChecked(item, action.id)) {
                                        <mat-pseudo-checkbox
                                            #actionSelect
                                            [class.bg-primary]="true"
                                            [appearance]="'full'"
                                            [state]="'checked'"
                                            (click)="selectAction(item, actionSelect, action.id)"
                                        >
                                        </mat-pseudo-checkbox>
                                    } @else {
                                        <mat-pseudo-checkbox
                                            #actionSelect
                                            [class.bg-primary]="false"
                                            [appearance]="'full'"
                                            [state]="'unchecked'"
                                            (click)="selectAction(item, actionSelect, action.id)"
                                        >
                                        </mat-pseudo-checkbox>
                                    }
                                } @else {
                                    <mat-pseudo-checkbox
                                        [appearance]="'full'"
                                        [state]="'unchecked'"
                                        [disabled]="true"
                                    >
                                    </mat-pseudo-checkbox>
                                }
                            </div>
                        }

                    </div>

                    @if(item.section?.length > 0){
                        <div class="flex flex-col w-full ">
                            @for( section of item.section; track section.id || $index){
                                <div class="flex px-6 py-4 pl-28 gap-4 w-full hover:bg-slate-200 dark:hover:bg-slate-700 border-b dark:border-slate-700">
                                    <div class="flex items-center justify-center grow-0 w-10">
                                        <mat-icon svgIcon="mat_solid:subdirectory_arrow_right"></mat-icon>
                                    </div>
                                    <div class="flex items-center justify-center grow-0 w-16">
                                        @if(isNavigationSectionExists(item, section); as sectionChecked){
                                            <mat-pseudo-checkbox
                                                [class.bg-primary]="sectionChecked"
                                                [state]="sectionChecked ? 'checked' : 'unchecked'"
                                                (click)="selectSection(item, section)"
                                            >
                                            </mat-pseudo-checkbox>
                                        } @else {
                                            <mat-pseudo-checkbox
                                                [class.bg-primary]="false"
                                                [state]="'unchecked'"
                                                (click)="selectSection(item, section)"
                                            >
                                            </mat-pseudo-checkbox>
                                        }

                                    </div>
                                    <div class="flex items-center grow">{{ section.title }}</div>

                                    @for( action of actions; track action.id || $index){
                                        <div class="flex items-center justify-center grow-0 w-18">
                                            @if(isActionExists(section, action.id)){
                                                @if (isSectionActionChecked(item, section, action.id)) {
                                                    <mat-pseudo-checkbox
                                                        [class.bg-primary]="true"
                                                        [appearance]="'full'"
                                                        [state]="'checked'"
                                                        (click)="selectSectionAction(item, section, action.id)"
                                                    >
                                                    </mat-pseudo-checkbox>
                                                } @else {
                                                    <mat-pseudo-checkbox
                                                        [class.bg-primary]="false"
                                                        [appearance]="'full'"
                                                        [state]="'unchecked'"
                                                        (click)="selectSectionAction(item, section, action.id)"
                                                    >
                                                    </mat-pseudo-checkbox>
                                                }
                                            } @else {
                                                <mat-pseudo-checkbox
                                                    [appearance]="'full'"
                                                    [state]="'unchecked'"
                                                    [disabled]="true"
                                                >
                                                </mat-pseudo-checkbox>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            }

        } @else {

            <div class="flex flex-col items-center gap-2 justify-center h-full p-8 sm:p-16 text-2xl font-semibold tracking-tight text-center">
                {{ t('Empty-List!') }}
            </div>
        }

    </div>

    @if((hasActionPermission(FuseNavigationAction.Edit) && !!this.roleUtilisateur.roleUtilisateurId) ||
    (hasActionPermission(FuseNavigationAction.Add) && !this.roleUtilisateur.roleUtilisateurId)){
        <!-- Submit button section -->
        <div class="flex items-center w-full px-4 py-4 gap-4 justify-end">

            <div class="flex items-center gap-4">
                @if (!roleUtilisateur?.libelleRoleUtilisateur || roleUtilisateur?.navigations?.length === 0) {
                    <div class="flex items-start gap-2 px-6 py-2 rounded-lg border border-rose-500 bg-rose-100 text-rose-950">

                        <mat-icon
                            class="text-red-900"
                            [svgIcon]="'heroicons_solid:x-circle'"
                        ></mat-icon>
                        <div class="flex gap-1 items-center">
                            <span class="font-semibold">Alert: </span>
                            <p>{{ t('Mandatory-fields-not-filled-in!') }}</p>
                        </div>

                    </div>
                }

                <button
                    [@shake]="saveClicked && (!roleUtilisateur?.libelleRoleUtilisateur || roleUtilisateur?.navigations?.length === 0)"
                    [disabled]="saveClicked && (!!roleUtilisateur?.libelleRoleUtilisateur && roleUtilisateur?.navigations?.length > 0)"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="save()">
                    <mat-icon [svgIcon]="'feather:save'"></mat-icon>
                    <span class="ml-2 mr-1">{{ t('Save') }}</span>
                </button>
            </div>

        </div>
    }
</div>
