.facture-grid {
    grid-template-columns: 64px 120px 120px 120px 120px 120px 140px 140px auto 64px;

    @screen sm {
        grid-template-columns: 64px 120px 120px 120px 120px 120px 140px 140px auto 64px;
    }

    @screen md {
        grid-template-columns: 64px 120px 120px 120px 120px 120px 140px 140px auto 64px;
    }

    @screen lg {
        grid-template-columns: 64px 120px 120px 120px 120px 120px 140px 140px auto 64px;
    }
}

.avoir-grid {
    grid-template-columns: 64px 120px 120px 120px 120px 140px auto 64px;

    @screen sm {
        grid-template-columns: 64px 120px 120px 120px 120px 140px auto 64px;
    }

    @screen md {
        grid-template-columns: 64px 120px 120px 120px 120px 140px auto 64px;
    }

    @screen lg {
        grid-template-columns: 64px 120px 120px 120px 120px 140px auto 64px;
    }
}
