<span class="text-transparent">{{data.message}}</span>

<div
    class="absolute inset-0 z-10 flex gap-2 items-center rounded-[4px] p-4"
    [ngClass]="{'bg-emerald-200 text-emerald-900': data.type=== 'success',
    'bg-yellow-200 text-yellow-950': data.type=== 'warning',
    'bg-rose-200 text-rose-950': data.type=== 'error'}"
>
    <div class="font-semibold">{{data.message}}</div>
    <!--<a mat-icon-button></a>-->
    @if (data.showOkButton) {
        <span matSnackBarAction>
            <button mat-icon-button matSnackBarAction (click)="snackBarRef.dismissWithAction()">
                <mat-icon class="text-black" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </span>
    }
</div>
