.circuit-grid {
    grid-template-columns: 48px auto;

    @screen sm {
        grid-template-columns: 1fr 2fr 3fr 1fr 120px 100px;
    }
}

.circuit-grid-header {
    grid-template-columns: 1fr 2fr 3fr 1fr 120px 100px;
}

.circuit-grid-item {
    &:hover {
        @apply bg-gray-50 dark:bg-hover;
    }
}
