<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <cors enabled="true">

                <add origin="http://localhost:4200">
                    <allowHeaders>
                        <add header="Authorization" />
                        <add header="Content-Type" />
                    </allowHeaders>
                    <allowMethods>
                        <add method="GET" />
                        <add method="OPTIONS" />
                        <add method="POST" />
                        <add method="DELETE" />
                        <add method="PUT" />
                        <add method="PATCH" />
                    </allowMethods>
                </add>

                <add origin="http://localhost:6070">
                    <allowHeaders>
                        <add header="Authorization" />
                        <add header="Content-Type" />
                    </allowHeaders>
                    <allowMethods>
                        <add method="GET" />
                        <add method="OPTIONS" />
                        <add method="POST" />
                        <add method="DELETE" />
                        <add method="PUT" />
                        <add method="PATCH" />
                    </allowMethods>
                </add>

            </cors>
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
            </handlers>
            <aspNetCore processPath="dotnet" arguments=".\CollectManagement.WebAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />

        </system.webServer>
    </location>
    <system.webServer>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite,ANCM,RequestRouting,Cors" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="500" verbosity="Error" />
                </add>
            </traceFailedRequests>
        </tracing>
    </system.webServer>

</configuration>